# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Python Installer
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# PyCharm files
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code files
.vscode/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Compiled Java files
*.class

# Compiled TypeScript files
*.js
*.js.map

# Editor-specific files
*~
*.swp
*.swo
*.sublime-workspace
.project